 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/_DSC0147b.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: -674px 21px 0 550px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 641px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-1 .u-container-layout-1 {
  padding: 4px 8px;
}

.u-section-1 .u-text-2 {
  margin: 31px 22px 0;
}

.u-section-1 .u-list-1 {
  width: 417px;
  margin: 22px auto 0 20px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 425px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-1 .u-text-4 {
  margin: 21px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-1 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-1 .u-text-6 {
  margin: 21px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-1 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-1 .u-text-8 {
  margin: 21px 1px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 864px;
}

.u-section-1 .u-container-layout-5 {
  padding: 29px;
}

.u-section-1 .u-form-1 {
  height: 804px;
  margin: 2px 0 -1px 32px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 700;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-weight: 700;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -658px;
    margin-right: 0;
    margin-left: 371px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 454px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-left: 21px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 712px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-1 .u-form-1 {
    height: 478px;
    width: 426px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-11 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 87px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 151px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 332px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 0;
    padding-left: 29px;
  }

  .u-section-1 .u-form-1 {
    width: 312px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -48px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -51px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 409px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -77px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -28px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 324px;
  }
}